.login-box {
	margin: auto;
	float: none;
	margin-top: 10%;
}

.login-page {
	background-color: #29738F;
}

.create-page {
	background-color: #29738F;
}

.blog-page {
	background-color: #29738F;
}

.submit-button {
	float: right;
}

.new-password {
	margin-bottom: 10px;
}

.blog-header {
	margin: auto;
	margin-bottom: 10px;
	width: 55%;
	height: 7rem;
	padding: 12px;
	background-color: #FFFFFF;
    color: #7F6F62;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.blog-nav {
	margin: auto;
	margin-bottom: 10px;
	width: 55%;
}

.header-title {
	padding-left: 15px;
	float: left;
}

.header-user {
	padding-right: 15px;
	float: right;
}
.username {
	margin-top: 14px;
	margin-bottom: 0px;
}

.sign-out {
	float: right;
}

.blog-main {
	margin: auto;
	margin-bottom: 10px;
	width: 55%;
	padding: 0px;
	border-radius: 12px;

}

.blog-footer {
	margin: auto;
	width: 55%;
	margin-top: 28px;
}

.blog-post {
	margin-bottom: 10px;
}

.edit-text {
	margin-top: 5px;
	float:left;
}

.edit-post {
	float: right;
}

.badge-new {
	background-color: #7F6F62;
	color: #F1E5D8;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F8F8F8;
}

.box-card:hover {
	background-color: #ecebef;
}

.box-link:hover {
	text-decoration: none;
}
